@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');

body {
  font-family: 'Bodoni Moda', serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.title {
  position: flex;
  text-align: center;
  padding-bottom: 4px;
}

.rowOne {
  padding: 10px;
}

.rowTwo {
  padding: 10px;
}

.cardHover {
  display: flex;
}

.cardHover:hover {
  transform: scale(1.1) translateY(-10px);
  opacity: 0.5;
}

.cardType {
  padding: 5px;
  text-align: center;
  color: rgba(255, 208, 0, 0.8);
  font-size: 35px;
  font-weight: bold;
  outline: 50px;
}

.buttonContainer {
  position: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 2px;
}

.inputButton {
  position: flex;
  font-family: 'Bodoni Moda', serif;
  font-size: 15px;
  text-align: center;
  justify-content: center;
  width: 97%;
}