body {
    font-family: arial;
    font-size: 16px;
    color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 50vh;
    background-color: lightslategray;
  }
  
  .title {
    position: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
  }
  
  .rowOne {
    padding: 10px;
  }
  
  .rowTwo {
    padding: 20px;
  }
  
  .cardHover:hover {
    transform: scale(1.1) translateY(-10px);
    opacity: 0.5;
  }
  
  .cardType {
    position: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0px;
    text-align: center;
    color: rgba(255, 208, 0, 0.8);
    font-size: 35px;
    font-weight: bold;
    outline: 50px;
  }
  
  .submitButton {
    position: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
  }
  