body{
  width: 100%;
  display: flex;
  background-image: url("./components/Images/gameBoard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
}

#root{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
